:root {
    /* == 字体设置 == */
    /* 基准字体 */
    /* 备选：Times, "Times New Roman" */
    --base-Latin-font: "Latin Modern Roman", "Latin Modern Roman 10";
    --base-Chinese-font: "宋体-简", "华文宋体", "Noto Serif CJK SC";
    --base-font-size: 9.5pt;
    /* 引言字体 */
    --quote-font: "Latin Modern Roman", "Latin Modern Roman 10", Times,
      "Times New Roman", "华文仿宋";
    /* 这里字体用了10pt,比正文字体稍大 */
    --quote-font-size: 10pt;
    /* 代码字体（代码中的中文会调用 ui-font） */
    --code-font: "Latin Modern Mono", "Latin Modern Mono 10", "Courier New";
    /* 侧边栏字体 */
    --ui-font: "苹方-简";
    /* source mode 字体 */
    /* 默认调用 code-font 和 ui-font */
    --sourceMode-font: "SF Mono", "苹方-简";
    /* 目录字体 */
    /* 默认调用 base-font */
    --toc-font: "";
    /* 默认调用 base-font-size */
    --toc-font-size: "";
    /* 表格字体 */
    /* 默认调用 heading-font */
    --table-title-font: "";
    /* 默认调用 base-font */
    --table-font: "";
    /* 标题字体（总设置） */
    /* 注意，如果您使用macOS系统并更改了英文字体，请在此处更换标题英文字体粗体字重的postscript值 */
    --heading-Latin-font: "LMRoman10-Bold";
    --heading-Chinese-font: "华文黑体Bold";
    /* 标题字体分别设置 */
    /* 大标题（h1）字体 */
    --h1-Chinese-font: "华文黑体Bold";
    --h1-font-size: 18pt;
    /* h2字体 */
    --h2-Chinese-font: "方正公文黑体";
    --h2-font-size: 14pt;
    /* h3字体 */
    --h3-Chinese-font: "方正公文黑体";
    --h3-font-size: 12pt;
    /* h4字体 */
    --h4-Chinese-font: "方正公文楷体";
    --h4-font-size: 10pt;
    /* h5字体 */
    --h5-Chinese-font: "方正公文仿宋";
    --h5-font-size: 10pt;
    /* h6字体 */
    --h6-Chinese-font: "方正公文仿宋";
    --h6-font-size: 9.5pt;
    /* 粗体样式设置 */
    /* 加粗风格时使用的字重；400等同于 normal，700等同于 bold，900等同于 heavy */
    --strong-weight: 900;
    /* 基础行距 */
    --base-line-height: 16pt;
    /* == 页面设置 == */
    /* 打印页边距 */
    --set-margin: 1.8cm 2cm 1.2cm 2cm !important;
    /* == 控制设置 == */
    /* 目录中是否显示一级标题 */
    --toc-show-title: none;
    /* == 颜色设置 == */
    /* 超链接颜色 */
    --link-color-light: #2E67D3;
    --link-color-dark: #8bb1f9;
  }

/* .clickable-icon, .view-action  > .clickable-icon, .view-action {
    color: red !important;
    background-color: red !important;
} */

/* div.app-container > div.horizontal-main-container > div > div.workspace-split.mod-vertical.mod-root > 
div > div.workspace-tab-container > div > div > div.view-header > div.view-actions > button.clickable-icon.icon.view-action > svg {
    color: red !important;
    content: url('https://via.placeholder.com/100') !important;
    content: icon;
}

div.app-container > div.horizontal-main-container > div > div.workspace-split.mod-vertical.mod-root > 
div > div.workspace-tab-container > div > div > div.view-header > div.view-actions > button.clickable-icon.icon.view-action > svg {
    content: close-quote !important;
} */
/* 
.app-container {
    border:hsl(0, 0%, 93%) 1px dotted !important;
} */

/* ======================================== */
/*============== 模式：浅色模式 ==============*/
/* ======================================== */
/* 一、设置框架样式 */
/* 1.1左侧工具栏-生效 */
.theme-light .sidebar-toggle-button {
    background-color: hsl(0, 0%, 93%) !important;
    /* border-bottom: 1px solid hsl(0, 0%, 75%) !important; */
}
.theme-light .side-dock-ribbon{
    background-color: hsl(0, 0%, 93%) !important;
    border: 0px dotted  !important;
}
.theme-light .workspace-tab-header-container{
    background-color: hsl(0, 0%, 93%) !important;
}

.theme-light .workspace-sidedock-vault-profile {
    /* color: red !important; */
    background-color: hsl(0, 0%, 93%) !important;
    border: 1px solid hsl(0, 2%, 90%) !important;
    border-top: 0px solid hsl(0, 0%, 93%) !important;
}
.theme-light .workspace-tabs {
    background-color: hsl(0, 0%, 100%) !important;
    /* border: 1px dotted !important; */
}
/* 左右侧扇页 */
.theme-light .workspace-leaf{
    background-color: hsl(0, 0%, 100%) !important;
    /* border-top: 1px dotted !important; */
}

.theme-light div.view-content.node-insert-event {
    background-color: hsl(0, 0%, 100%) !important;
    /* background-color: red !important; */
    /* border-top: 1px dotted !important; */
}

/* 二、设置主界面样式（编辑、阅读模式） */
/* 2.1 设置编辑模式样式 */
/* 2.1.0 设置编辑阅读模式的边框 */
/* 文件名样式 */
.theme-light .inline-title {
    color: hsla(240, 100%, 70%, 0.971) ;
    box-shadow: 0 0 3px #5d5656;
    text-align: center !important;
    margin: 10px auto !important;
    /* vertical-align: middle !important; */
    padding: 10px 10px !important;
}

.theme-light .cm-editor {
    padding: 0px 2px!important;
    /* margin: -10px 5px !important; */
    /* border: 2px black solid !important; */
}

.theme-light .cm-announced {
    border: 2px green solid !important;
}

.theme-light .cm-scroller {
    /* margin: pink 2px !important; */
    /* border: 2px green solid !important; */
}

/* 2.1.1 设置标题样式 */
.theme-light .HyperMD-header-1,.HyperMD-header-2,.HyperMD-header-3,
.theme-light .HyperMD-header-4,.HyperMD-header-5,.HyperMD-header-6{
    /* color: red !important; */
    font-family: var(--heading-Latin-font), var(--h1-Chinese-font), sans-serif;
    font-size: var(--title-font-size) !important;
    font-weight: bold !important;
    line-height: 1.2 !important;
    column-span: all;
    position: relative !important;
    /* margin-top: 1rem !important; */
    /* margin-bottom: 1rem !important; */
    cursor: text !important;
}
.theme-light .HyperMD-header-1{
    /* color: blue; */
    font-size: 2.25em !important;
    line-height: 1.2 !important;
    border-bottom: 1px solid #eee !important;
}
.theme-light .HyperMD-header-2{
    /* color: pink; */
    /* font-size: var(--h2-font-size) !important; */
    font-size: 1.75em !important;
    line-height: 1.2 !important;
    border-bottom: 1px solid #eee !important;
}
.theme-light .HyperMD-header-3{
    /* font-size: var(--h3-font-size); */
    font-size: 1.25em !important;
    line-height: 1.2 !important;
}
.theme-light .HyperMD-header-4{
    /* font-size: var(--h4-font-size); */
    font-size: 1em !important;
    line-height: var(--h4-font-size);
}
.theme-light .HyperMD-header-5{
    /* font-size: var(--h5-font-size); */
    font-size: 1em !important;
    line-height: var(--h5-font-size);
}
.theme-light .HyperMD-header-6{
    /* font-size: var(--h6-font-size); */
    font-size: 1em !important;
    /* 没有写错，为了避免行距太小才这么写 */
    line-height: var(--h5-font-size);
}

/* 2.1.2 设置正文样式 */
/* 设置段落样式 */
.theme-light .cm-line{
    color: #333 !important;
    font-family: sans-serif !important;
    /* margin-top: 0 !important; */
    /* margin-bottom: 0 !important; */
    /* border-top: 0 !important; */
    /* border-bottom: 0 !important; */
}

/* 
.cm-line:not(.cm-header, .HyperMD-header,.list-line,.HyperMD-list-line){
    color: #333 !important;
    font-family: sans-serif !important;
} */

/* 2.1.3 设置引用 */
.theme-light .HyperMD-quote.HyperMD-quote-1.cm-line {
    background-color: hsl(0, 0%, 97%) !important; /* 可选，设置背景颜色 */

}

.theme-light .HyperMD-quote.HyperMD-quote-1.cm-line span:not(.cm-transparent){
    margin-left: -7px !important;
    color: hsl(0, 0%, 45%) !important; /* 设置引用文字的颜色 */
}

.theme-light div.HyperMD-quote.HyperMD-quote-1.cm-line::before {
    border-left: 3px solid hsl(0, 0%, 80%) !important; /* 添加引用的左侧竖线 */
}

/* 2.2、设置阅读模式样式 */
/* 2.2.1 设置标题样式 */
.theme-light .markdown-preview-view h1, .theme-light .markdown-preview-view h2, .theme-light .markdown-preview-view h3,
.theme-light .markdown-preview-view h4, .theme-light .markdown-preview-view h5, .theme-light .markdown-preview-view h6{
    color: #333 !important; 
    /* color: red !important;  */
    font-family: sans-serif;
    font-size: var(--title-font-size);
    font-weight: bold !important;
    line-height: 1.4 !important;
    column-span: all;
    position: relative !important;
    margin-top: 1rem !important; 
    margin-bottom: 1rem !important;
    cursor: text !important;
}

.theme-light .markdown-preview-view h1 {
    /* color: red !important; */
    font-size: 2.25em !important;
    line-height: 1.2 !important;
    border-bottom: 1px solid #eee !important;
}
.theme-light .markdown-preview-view h2 {
    /* color: green !important; */
    font-size: 1.75em !important;
    line-height: 1.2 !important;
    border-bottom: 1px solid #eee !important;
}
.theme-light .markdown-preview-view h3 {
    /* color: red !important; */
    font-size: 1.25em !important;
    line-height: 1.2 !important;
}
.theme-light .markdown-preview-view h4 {
    font-size: 1em !important;
}
.theme-light .markdown-preview-view h5 {
    font-size: 1em !important;
}
.theme-light .markdown-preview-view h6 {
   font-size: 1em !important;
    color: #777 !important;
}
/* span.cm-strong, :not(font)>strong, .cm-s-obsidian .cm-highlight.cm-strong {
    color: #333333 !important;
} */

/* 2.2.2 设置正文/段落样式 */
.theme-light .markdown-preview-view p {
    color: #555;
    /* font-family: var(--base-Latin-font), var(--base-Chinese-font), serif !important; */
    font-family:  sans-serif;
    /* font-size: var(--base-font-size) !important; */
    /* color: green !important; */
    background-color: white;
    /* margin: 16px 0px; */
    /* A4标准宽度 */
    /* max-width: 21cm !important; */
    /* column-count: 2;
      column-gap: 25px;
      column-width: 8cm; 
      display: inline-block; */
    /* 这里可以试分栏的，但确实不适合实现 */
    counter-reset: h2 0 h3 0 h4 0 h5 0 h6 0;
    /* font-family: "Open Sans","Clear Sans", "Helvetica Neue", Helvetica, Arial, 'Segoe UI Emoji', sans-serif !important; */
    /* color: rgb(51, 51, 51) !important; */
}

/* 2.2.3 设置引用样式 */
/* 设置引用的样式 */
.theme-light div.el-blockquote{
    font-family: serif;
    font-style: normal !important;
    /* font-family: var(--quote-font), var(--base-Latin-font), var(--base-Chinese-font), -apple-system, serif; */
    /* font-size: var(--quote-font-size) !important; */*/
    padding-left: 12px !important; /* 引用内文字的内边距 */
    /* border-left: 4px solid #dfe2e5; */
    border-left: 3px solid #ccc !important; /* 添加引用的左侧竖线 */
    color: #555 !important;  /* 设置引用文字的颜色 */
    background-color: #f8f8f8 !important; /* 可选，设置背景颜色 */
}
.theme-light blockquote p {
    color: #555 !important;
    font-family: serif !important;
    background-color: #f8f8f8 !important; /* 可选，设置背景颜色 */
}

.theme-light .serif blockquote p {
    color: hsl(0, 0%, 45%) !important;
    text-indent: 2em !important;  /* 设置段落首行缩进 */
    font-family: serif !important;
    background-color: hsl(0, 0%, 97%) !important; /* 可选，设置背景颜色 */
}

/* 2.3 设置列表 */
.theme-light li {
    font-family: sans-serif!important;
}

/* 2.4 设置图片 */
.theme-light .img-center .markdown-preview-view img,
.theme-light .img-center .markdown-source-view img,
.img-center div.img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    /* border-color: #737373;
    border-width: 2px;
    border-style: dashed; */
}

/* 2.5 设置超链接 */
.theme-light a {
	color: hsl(219, 65%, 50%) !important;
	text-decoration: none !important;
}

/*设置大纲样式 */
/* .markdown-source-view.mod-cm6 .cm-content > * {
    margin: auto auto !important;
}
.tree-item-icon{
    margin: 0 0 0 -8px!important;
}
div.tree-item-children{
    margin: 0 0 0 8px !important;
}
.tree-item-icon::before {
    content: "›" !important;
    border: dashed !important;
    font-family: sans-serif;
    font-size: 18px !important;
    font-weight: normal !important;
    transform: rotate(90deg) translateX(1px) translateY(2px) !important;
    color: var(--text-accent);
    transition: transform 10ms linear 0s;
    padding-right: 2px !important;
}
body:not(.default-icons) .outline .tree-item.is-collapsed .collapse-icon::before {
    transform: translateX(-1px) translateY(0px) !important;
    opacity: 1 !important;
} */


/* 设置正文文本对其方式 */
/* get more snippets at https://github.com/kmaasrud/awesome-obsidian */
/* author: https://forum.obsidian.md/u/boyd/summary */
/* source: https://forum.obsidian.md/t/meta-post-common-css-hacks/1978/25 */
.cm-s-obsidian,
.markdown-preview-view {
  text-align: justify;
  hyphens: auto;
}

/* .twocolumn {
    columns: 2;
    column-gap: 6em;
    column-rule: gray dotted 3px;
    column-fill: auto;
} */

/* ======================================== */
/* ================深色模式 ================*/
/* ======================================== */
.theme-dark .sidebar-toggle-button {
    background-color: hsl(0, 0%, 13%) !important;
}
.theme-dark .side-dock-ribbon{
    background-color: hsl(0, 0%, 13%) !important;
    border: 0px dotted !important;
}
.theme-dark .workspace-tab-header-container {
    background-color: hsl(0, 0%, 13%) !important;
    /* border: 1px dotted !important; */
}
.theme-dark .workspace-sidedock-vault-profile {
    background-color: hsl(0, 0%, 13%) !important;
    border: 1px solid hsl(0, 0%, 25%) !important;
    border-top: 0px solid hsl(0, 0%, 25%) !important;
}
.theme-dark .workspace-tabs {
    background-color: hsl(0, 0%, 20%) !important;
    /* border: 1px dotted !important; */
}

/* 左右侧扇页 */
.theme-dark .workspace-leaf{
    background-color: hsl(0, 0%, 20%) !important;
    /* border-top: 1px dotted !important; */
}

.theme-dark div.view-content.node-insert-event {
    background-color: hsl(0, 0%, 20%) !important;
    /* background-color: red !important; */
    /* border-top: 1px dotted !important; */
}

/* 2.1 设置编辑模式样式 */
/* 2.1.0 设置编辑模式的边框 */
/* 标题样式 */
.theme-dark.inline-title {
    color: hsla(240, 100%, 70%, 0.971) ;
    box-shadow: 0 0 3px #5d5656 ;
    text-align: center !important;
    margin: 10px auto !important;
    /* vertical-align: middle !important; */
    padding: 10px 10px !important;
}
.theme-dark.cm-editor {
    padding: 0px 2px  !important;
    /* margin: -10px 5px !important; */
    /* border: 0px !important; */
}
.theme-dark.cm-scroller {
    border: 1px solid black !important;
    padding: 0px !important;
}

/* 2.1.1 设置标题样式 */
.theme-dark .HyperMD-header-1,.theme-dark .HyperMD-header-2,.HyperMD-header-3,
.theme-dark .HyperMD-header-4,.theme-dark .HyperMD-header-5,.theme-dark .HyperMD-header-6{
    /* color: red !important; */
    font-family: var(--heading-Latin-font), var(--h1-Chinese-font), sans-serif;
    font-size: var(--title-font-size) !important;
    font-weight: bold !important;
    line-height: 1.2 !important;
    column-span: all;
    position: relative !important;
    /* margin-top: 1rem !important; */
    /* margin-bottom: 1rem !important; */
    cursor: text !important;
    color: red;
}
.theme-dark .HyperMD-header-1{
    /* color: blue; */
    font-size: 2.25em !important;
    line-height: 1.2 !important;
    border-bottom: 1px solid #eee !important;
}
.theme-dark .HyperMD-header-2{
    /* color: pink; */
    /* font-size: var(--h2-font-size) !important; */
    font-size: 1.75em !important;
    line-height: 1.2 !important;
    border-bottom: 1px solid #eee !important;
}
.theme-dark .HyperMD-header-3{
    /* font-size: var(--h3-font-size); */
    font-size: 1.25em !important;
    line-height: 1.2 !important;
}
.theme-dark .HyperMD-header-4{
    /* font-size: var(--h4-font-size); */
    font-size: 1em !important;
    line-height: var(--h4-font-size);
}
.theme-dark .HyperMD-header-5{
    /* font-size: var(--h5-font-size); */
    font-size: 1em !important;
    line-height: var(--h5-font-size);
}
.theme-dark .HyperMD-header-6{
    /* font-size: var(--h6-font-size); */
    font-size: 1em !important;
    /* 没有写错，为了避免行距太小才这么写 */
    line-height: var(--h5-font-size);
}

/* 2.1.2 设置正文样式 */
/* 设置段落样式 */
.theme-dark .cm-line{
    color: hsl(0, 0%, 82%) !important;
    font-family: sans-serif !important;
    /* margin-top: 0 !important; */
    /* margin-bottom: 0 !important; */
    /* border-top: 0 !important; */
    /* border-bottom: 0 !important; */
}

/* 
.cm-line:not(.cm-header, .HyperMD-header,.list-line,.HyperMD-list-line){
    color: #333 !important;
    font-family: sans-serif !important;
} */

/* 2.1.3 设置引用 */
.theme-dark .HyperMD-quote.HyperMD-quote-1.cm-line {
    color: #555 !important;
    background-color: #f8f8f8 !important; /* 可选，设置背景颜色 */
}
.theme-dark div.HyperMD-quote.HyperMD-quote-1.cm-line::before {
    color: #555 !important; /* 设置引用文字的颜色 */
    border-left: 3px solid #ccc !important; /* 添加引用的左侧竖线 */
}

/* 2.2、设置阅读模式样式 */
/* 2.2.1 设置标题样式 */
.theme-dark.markdown-preview-view h1, .theme-dark.markdown-preview-view h2, .theme-dark .theme-dark.markdown-preview-view h3,
.theme-dark.markdown-preview-view h4, .theme-dark.markdown-preview-view h5, .theme-dark.markdown-preview-view h6{
    color: #333 !important; 
    /* color: red !important;  */
    font-family: sans-serif;
    font-size: var(--title-font-size);
    font-weight: bold !important;
    line-height: 1.4 !important;
    column-span: all;
    position: relative !important;
    margin-top: 1rem !important; 
    margin-bottom: 1rem !important;
    cursor: text !important;
}

.theme-dark.markdown-preview-view h1 {
    /* color: red !important; */
    font-size: 2.25em !important;
    line-height: 1.2 !important;
    border-bottom: 1px solid #eee !important;
}
.theme-dark.markdown-preview-view h2 {
    /* color: green !important; */
    font-size: 1.75em !important;
    line-height: 1.2 !important;
    border-bottom: 1px solid #eee !important;
}
.theme-dark.markdown-preview-view h3 {
    /* color: red !important; */
    font-size: 1.25em !important;
    line-height: 1.2 !important;
}
.theme-dark.markdown-preview-view h4 {
    font-size: 1em !important;
}
.theme-dark.markdown-preview-view h5 {
    font-size: 1em !important;
}
.theme-dark.markdown-preview-view h6 {
   font-size: 1em !important;
    color: #777 !important;
}
/* span.cm-strong, :not(font)>strong, .cm-s-obsidian .cm-highlight.cm-strong {
    color: #333333 !important;
} */

/* 2.2.2 设置正文/段落样式 */
.theme-dark .markdown-preview-view p {
    color: hsl(0, 0%, 82%) !important;
    /* font-family: var(--base-Latin-font), var(--base-Chinese-font), serif !important; */
    font-family:  sans-serif;
    /* font-size: var(--base-font-size) !important; */
    /* margin: 16px 0px; */
    /* A4标准宽度 */
    /* max-width: 21cm !important; */
    /* column-count: 2;
      column-gap: 25px;
      column-width: 8cm; 
      display: inline-block; */
    /* 这里可以试分栏的，但确实不适合实现 */
    counter-reset: h2 0 h3 0 h4 0 h5 0 h6 0;
    /* font-family: "Open Sans","Clear Sans", "Helvetica Neue", Helvetica, Arial, 'Segoe UI Emoji', sans-serif !important; */
    /* color: rgb(51, 51, 51) !important; */
}

/* 2.2.3 设置引用样式 */
/* 设置引用的样式 */
.theme-dark blockquote{
    font-style: normal;
    font-family: var(--quote-font), var(--base-Latin-font), var(--base-Chinese-font), -apple-system, serif;
    /* font-size: var(--quote-font-size) !important; */
    margin-left: 1px !important; /* 设置引用的左侧缩进 */
    padding-left: 12px !important; /* 引用内文字的内边距 */
    /* border-left: 4px solid #dfe2e5; */
    border-left: 3px solid #ccc !important; /* 添加引用的左侧竖线 */
    color: #555; /* 设置引用文字的颜色 */
    background-color: #f8f8f8 !important; /* 可选，设置背景颜色 */
}
.theme-dark blockquote p {
    background-color: #f9f9f9 !important; /* 可选，设置背景颜色 */
}

/* body:not(.is-mobile):not(.labeled-nav).vault-profile-top .workspace-split.mod-left-split .workspace-sidedock-vault-profile {
    background-color: pink !important;
} */

/* .workspace-tab-header-spacer {
    background-color: pink !important;
} */


/* 2.3 设置列表 */
.theme-dark li {
    font-family: sans-serif!important;
}

/* 2.4 设置图片 */
.theme-dark .img-center .markdown-preview-view img,
.theme-dark .img-center .markdown-source-view img,
.img-center div.img {
    /* display: block !important; */
    /* margin-left: auto !important; */
    /* margin-right: auto !important; */
    /* border-color: #737373;
    border-width: 2px;
    border-style: dashed; */
}

/* 2.5 设置超链接 */
.theme-dark a {
	color: hsl(219, 70%, 60%) !important;
	text-decoration: none !important;
}


audio {
    width: 85% !important; /* 设置宽度为85% */
    /* width: 300px; 设置宽度 */
    justify-content: center !important; /* 水平居中 */
    align-items: center !important; /* 垂直居中（可选） */
    outline: none !important; /* 去掉默认的轮廓 */
    background-color: #f0f0f0 !important; /* 设置背景颜色 */
    /* border: 2px solid #ccc; 设置边框 */
    border-radius: 3px !important; /* 圆角边框 */
    display: block !important; /* 将其设置为块级元素 */
    margin: 0 auto !important; /* 设置上下边距为0，左右边距自动 */
}

/* 三、设置文本字体 serif */
.serif .cm-line,
.serif .el-p p{
    color: #555;
    font-family: serif !important;
}
.serif .el-h1 h1, .serif .el-h2 h2, .serif .el-h3 h3,
.serif .el-h4 h4, .serif .el-h5 h5, .serif .el-h6 h6{
    font-family: serif !important;
}
.serif .el-ul li, .serif .el-ol li{
    font-family: serif !important;
}

/* 设置段落的样式:缩进 */
.index div.cm-line:not(.cm-header, .HyperMD-header, .HyperMD-header-1,.list-line,.HyperMD-list-line), .index div.el-p{
    text-indent: 2em !important;  /* 设置段落首行缩进 */
    
}

/*设置Mind-map样式*/
div.mm-node-content{
    text-align: center !important;
    margin: auto !important;
    padding: auto !important;
    border: auto !important;
    background-color: #fff !important;
    color: #3e3e3e !important;
    border: solid 2px #3e3e3e;
}

g>path {
    stroke:black !important;
}

/* 设置有序列表、无序列表样式 */
/* ----------------------------------------- */

ul,
ol ul,
ol ol ul,
ol ol ol ul {
  list-style: disc !important;
  /* color: red !important; */
}
ul ul,
ol ul ul,
ul ol ul,
ol ol ul ul {
  list-style: circle !important;
  /* color: green !important; */
}
ul ul ul,
ol ul ul ul,
ul ol ul ul,
ul ul ol ul {
  list-style: square !important;
  /* color: orange !important; */
}
ul ul ul ul,
ol ul ul ul ul,
ul ol ul ul ul,
ul ul ol ul ul,
ul ul ul ol ul {
  list-style: circle !important;
  /* color: pink !important; */
}


li::marker{
    /* list-style-type: square !important; */
    color: black !important;
    /* color: #8397c9 !important; */
}
ul::before {
    inherits: none !important;
}
.has-list-bullet {
    content: none !important;
    /* color: red !important; */
}
/* 隐藏.list-bullet的内容 */
.markdown-rendered .list-bullet {
    display: none !important;
}

/* ==========浅色模式======== */

.theme-light .callout[data-callout="info"] {
    /* content: url('https://obsidian-1312471922.cos.ap-guangzhou.myqcloud.com/cat.svg'); */
    color: hsla(12, 62%, 65%, 0.25);
    background-color: rgba(255, 255, 255, 0.8);
    /* background-image: url(https://obsidian-1312471922.cos.ap-guangzhou.myqcloud.com/%E7%BA%AF%E8%89%B22.png); */
    border: 2px solid hsl(12, 62%, 75%);
    border-radius: 16px;
    margin: 10px 0px !important;
    /* background-attachment: fixed; */
    /* box-shadow: 0px 0px 10px 0px #333; */
    /* backdrop-filter: blur(12px); */
    /* -webkit-backdrop-filter: blur(12px); */
    /* padding: 24px; */
    /* position: relative; */
    /* z-index: 10; */
}
.theme-light .callout[data-callout="info"] .callout-title-inner{
    color: hsl(12, 62%, 65%);
}
.theme-light .callout[data-callout="tip"] {
    /* content: url('https://obsidian-1312471922.cos.ap-guangzhou.myqcloud.com/cat.svg'); */
    color: hsl(191, 62%, 65%);
    /* background-color: hsl(82, 62%, 95%); */
    background-color: rgba(255, 255, 255, 0.6);
    /* background-image: url(https://obsidian-1312471922.cos.ap-guangzhou.myqcloud.com/%E7%BA%AF%E8%89%B23.png); */
    border: 2px solid hsl(191, 62%, 75%);
    border-radius: 16px;
    margin: 10px 0px !important;
}
.theme-light .callout[data-callout="tip"] .callout-title-inner{
    color: hsl(191, 62%, 65%);
}
.theme-light .callout[data-callout="summary"] {
    /* content: url('https://obsidian-1312471922.cos.ap-guangzhou.myqcloud.com/cat.svg'); */
    color: hsl(252, 62%, 65%);
    /* background-color: hsl(162, 62%, 95%); */
    background-color: rgba(255, 255, 255, 0.8);
    /* background-image: url(https://obsidian-1312471922.cos.ap-guangzhou.myqcloud.com/%E7%BA%AF%E8%89%B24.png); */
    border: 2px solid hsl(252, 62%, 75%);
    border-radius: 16px;
    margin: 10px 0px !important;
}
.theme-light .callout[data-callout="summary"] .callout-title-inner{
    color: hsl(274, 62%, 65%);
}
.theme-light .callout[data-callout="summary"] .callout-icon {
    /* background-image: url('https://obsidian-1312471922.cos.ap-guangzhou.myqcloud.com/cat.svg'); */
    /* content: url('https://obsidian-1312471922.cos.ap-guangzhou.myqcloud.com/cat.svg'); */
    /* content: none !important; */
    content: url('https://obsidian-1312471922.cos.ap-guangzhou.myqcloud.com/%E5%A4%A9%E5%B9%B3.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 1.2em;
    height: 1.2em;
}


/* 深色模式 */


.theme-dark .callout[data-callout="info"] {
    /* content: url('https://obsidian-1312471922.cos.ap-guangzhou.myqcloud.com/cat.svg'); */
    color: hsla(12, 62%, 65%, 0.25);
    background-color: rgba(255, 255, 255, 0.15);
    /* background-image: url(https://obsidian-1312471922.cos.ap-guangzhou.myqcloud.com/%E7%BA%AF%E8%89%B22.png); */
    border: 2px solid hsl(12, 62%, 65%);
    border-radius: 16px;
    margin: 10px 0px !important;
    /* background-attachment: fixed; */
    /* box-shadow: 0px 0px 10px 0px #333; */
    /* backdrop-filter: blur(12px); */
    /* -webkit-backdrop-filter: blur(12px); */
    /* padding: 24px; */
    /* position: relative; */
    /* z-index: 10; */
}
.theme-dark .callout[data-callout="info"] .callout-title-inner{
    color: hsl(12, 62%, 65%);
}
.theme-dark .callout[data-callout="tip"] {
    /* content: url('https://obsidian-1312471922.cos.ap-guangzhou.myqcloud.com/cat.svg'); */
    color: hsl(191, 62%, 65%);
    /* background-color: hsl(82, 62%, 95%); */
    background-color: rgba(255, 255, 255, 0.15);
    /* background-image: url(https://obsidian-1312471922.cos.ap-guangzhou.myqcloud.com/%E7%BA%AF%E8%89%B23.png); */
    border: 2px solid hsl(191, 62%, 65%);
    border-radius: 16px;
    margin: 10px 0px !important;
}
.theme-dark .callout[data-callout="tip"] .callout-title-inner{
    color: hsl(191, 62%, 65%);
}
.theme-dark .callout[data-callout="summary"] {
    /* content: url('https://obsidian-1312471922.cos.ap-guangzhou.myqcloud.com/cat.svg'); */
    color: hsl(252, 62%, 65%);
    /* background-color: hsl(162, 62%, 95%); */
    background-color: rgba(255, 255, 255, 0.15);
    /* background-image: url(https://obsidian-1312471922.cos.ap-guangzhou.myqcloud.com/%E7%BA%AF%E8%89%B24.png); */
    border: 2px solid hsl(252, 62%, 65%);
    border-radius: 16px;
    margin: 10px 0px !important;
}
.theme-dark .callout[data-callout="summary"] .callout-title-inner{
    color: hsl(274, 62%, 65%);
}
.theme-dark .callout[data-callout="summary"] .callout-icon {
    /* background-image: url('https://obsidian-1312471922.cos.ap-guangzhou.myqcloud.com/cat.svg'); */
    /* content: url('https://obsidian-1312471922.cos.ap-guangzhou.myqcloud.com/cat.svg'); */
    /* content: none !important; */
    content: url('https://obsidian-1312471922.cos.ap-guangzhou.myqcloud.com/%E5%A4%A9%E5%B9%B3.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 1.2em;
    height: 1.2em;
}

.theme-dark .callout-content a {
	color: hsl(219, 65%, 60%) !important;
    
	text-decoration: none !important;
}



hr{
    color: red;
    border: none;
    height: 2px;
    background-color: #6eddbc;
    width: 80%;
    margin: 24px auto;
    opacity: 0.8;
}

.el-hr{
    color: red;    
}