/* #mybody body.gwy-body{
font-family: serif !important;
background-color: #fbf9eb !important;
margin: 5px 6px !important;
border: 1px solid red !important;
} */

div.gwy-1{
    /* border: 2px dashed hsl(223, 65%, 70%) !important; */
    border: 2px dashed rgb(204, 48, 92) !important;
    border-radius: 12px 12px;
    /* background-color: red; */
    overflow: hidden;
}

a {
color: hsl(219, 65%, 50%) !important;
text-decoration: none !important;
}
.GWY{
    text-align: center !important;
}
.XSJG{
    width: 100% !important;
}
.boxA{
    padding: 2px;
}
.box-B{
    /* background-color: #fbf9eb !important; */
    width: 50% !important;
    float: left !important;
    padding: 2px;
    /* border: 1px solid red; */
    /* margin: 10px 10px !important; */

}
.box1{
    width: 100% !important;
    /* float: left; */
}
table.gwy-table{
    width: 100% !important;
    /* width: 100%; */
    table-layout: fixed !important;
    /* float: left; */
    /* margin: 2px 2px; */
    /* margin: 10px 10px !important; */
}
caption.gwy-caption{
    color: hsl(359, 48%, 58%) !important;
    font-size: 24px !important;
    text-align: center !important;
}
td.gwy-td{
    color: rgb(76, 71, 71) !important;
    background-color: hsl(53, 67%, 95%) !important;
    font-family: serif !important;
    text-align: center !important;
    padding: 1px auto !important !important;
    border: 1px solid black !important;
    /* margin: 6px 6px !important; */
}
td.gwy-td:hover{
    /* background-color: hsl(53, 47%, 65%) !important; */
}

.gwy-p {
    /* text-indent: 2em; */
    font-size: 0.9rem;
    margin: 10px 10px !important;
    margin-left: 1em !important;
}
